@import url(https://fonts.googleapis.com/css?family=Raleway);

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  /* background-color: rgba(128, 128, 128, 0.2); */
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
  user-select: none;
}
iframe{
  width: 50%;
  height: 400px;
  margin: 10px 0;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
svg {
  height: 80px;
  width: 80px;
  color: white;
}
.pc-nav ul {
  list-style: none;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.pc-nav {
  flex: 1;
}
.pc-nav-item:hover {
  transform: scale(1.1);
  background-color: white;
}
header .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0);
}
header {
  position: sticky;
  top: 0;
  z-index: 50;
}
.pc-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s;
}
.pc-nav-item {
  transition: all 0.3s;
  display: inline-block;
  padding: 24px 32px;
  border: 0;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.mobile-nav {
  display: none;
}
/* hamburger */
.checkbox {
  display: none;
}

.button {
  position: relative;
  background-color: white;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 5vw;
  z-index: 2000;
  box-shadow: 0 1rem 3rem black;
  text-align: center;
  cursor: pointer;
}

.background {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 5.5vw;
  background-image: radial-gradient(gray, white);
  z-index: 1000;

  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.list {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.item {
  margin: 1rem;
  font-size: 20px;
}

.link:link,
.link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: lightgreen;
  cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(80);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 3rem;
  height: 2px;
  background-color: gray;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.button:hover icon:before {
  top: -1rem;
}
.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 15px;
  color: white;
  background-color: black;
  margin-top: 10px;
  text-align: center;
  gap: 10px;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 960px) {
  .menu-button-container {
    display: flex;
  }
  .mobile-nav {
    display: inline-block;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 50;
    width: 100%;
  }
  header .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 50;
  }
  .pc-nav {
    display: none;
  }
  svg {
    height: 120px;
    width: 120px;
    color: white;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  iframe{
    height: 250px;
    width: 80%;
    margin-top: 150px ;

  }
}
